<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form enctype="multipart/form-data" action="#" method="POST">
        {% csrf_token %}
        {% if t %}
		<h1>No Projects Available</h1>
		{% endif %}
		{% for i,j in myzip %}
			
			 <a href="{% url 'project' %}?params={{ i }}">{{j}}</a><hr>
			<br>
		{% endfor %}
    <button type="submit">Download</button>
    </form>
</body>
</html>